//Eksempelvariabler
//Hentet fra https: //github.com/toremake/UIN_coursefiles_2023/blob/main/eksamen/_examvariables.scss

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&family=Mulish:wght@400;700&display=swap');
//Font variables
$headerfont: 'Kanit', sans-serif;
$textfont: 'Mulish', sans-serif;
//COLORS
$red: #C00100;
$orange: #FFA100;
$black: #000000;
$white: #ffffff;
$light-grey: #f3f3f3;
$dark-grey: #232323;
$green: #6ea100;

$warning: $orange;
$success: $green;
$error: $red;

//SIZES
$maxwidth: 1200px;
$maxsentencelength: 60rem;
$gaps: 1.5rem;

//Font classes
.headerfont {
    font-family: $headerfont;
    font-weight: 700;
}

.textfont {
    font-family: $textfont;
    font-weight: 400;
}

.textfont-strong,
.textfont-bold {
    font-family: $textfont;
    font-weight: 700;
}

body {
    //pack out .textfont inside body for css rules:
    @extend .textfont;
    font-size: 18px;


}

img {
    max-width: 350px;
}

.tags {
    display: flex;
    flex-wrap: wrap;

}

.tags-button {
    background-color: $light-grey;
    padding: 0.3rem;
    margin: 4px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: #616161 solid;

    &:hover {
        background-color: #ddd;
    }
}



//BOX-SIZING
div,
article,
header,
section,
aside,
span,
footer,
header {
    box-sizing: border-box;
}

//ANIMATION TRANSITION RULES
.transition {
    transition: ease-in-out .4s;
}

a {
    @extend .transition;
}